@media (max-width: 1000px) {
  .top__title {
    padding-top: 40px;
    font-size: 37px;
    line-height: 40px;
  }
  .product-page__bottom{
    display: block;
    margin-bottom: 100px;
  }

  .product-page__info{
    margin: 0 auto 40px;
  }
  .product-page__todo{
    margin: 0 auto;
  }
  .product-page__todo-item{
    margin-left: 60px;
  }
}
@media (max-width: 900px) {
  .main-page__packets{
    margin-top: -250px;
  }
  .packets__items {
    grid-template-columns: repeat(2, 1fr);
  }
  .product-page__top{
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .product-page__top-item:nth-child(1){
    max-width: 100%;
    margin-bottom: 40px;
  }
}
@media (max-width: 768px) {
  .header {
    margin-bottom: 30px;
  }
  .top__title {
    padding-top: 36px;
    font-size: 30px;
    line-height: 37px;
  }
  .main-page__packets{
    margin-top: -300px;
  }
  .product-page__todo-item span{
    opacity: 1;
  }
}
@media (max-width: 650px) {
  .packets__items {
    grid-template-columns: repeat(1, 1fr);
  }
  .top__title {
    padding-top: 21px;
    font-size: 27px;
    line-height: 31px;
  }
  .main-page__packets{
    margin-top: -330px;
  }
  .footer__inner {
    flex-direction: column-reverse;
  }
  .footer-social {
    margin-bottom: 40px;
  }
}
@media (max-width: 500px) {
  .header__inner {
    flex-wrap: wrap;
  }
  .header__logo {
    width: 100%;
    margin-bottom: 30px;
    margin-top: 10px;
  }
  .header__buttons {
    margin-left: auto;
  }
  .top__title {
    padding-top: 14px;
    font-size: 25px;
    line-height: 29px;
  }
  .packets__item-title {
    font-size: 26px;
    line-height: 30px;
    font-weight: 400;
    margin-bottom: 40px;
  }
  .top__video {
    top: 50px;
  }
  .packets__item {
    padding: 30px 15px;
  }
  .product-page__todo-item {
    margin-left: 50px;
}
}
@media (max-width: 450px) {
  .top__title {
    font-size: 21px;
    line-height: 27px;
  }
  .footer__left {
    flex-direction: column;
  }
  .footer__logo {
    padding-right: 0;
    margin-right: 0;
    margin-bottom: 30px;
    border-right: none;
  }
  .top__video {
    top: 68px;
  }
  .packets__item-title {
    font-size: 23px;
    line-height: 24px;
  }
  .product-page__top-item:nth-child(2){
    width: 100%;
    max-width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
}
@media (max-width: 370px) {
  .top__video {
    top: 90px;
  }
}
